<%- include ../../layouts/header.ejs %>
 <!-- Content Header (Page header) -->
<script type="text/javascript" src="<%= (global.base_url) ? global.base_url : '' %>/js/jquery.datetimepicker.js"></script>
<link rel="stylesheet" type="text/css" href="<%= (global.base_url) ? global.base_url : '..' %>/css/jquery.datetimepicker.css"/>

    <section class="content-header">
      <h1 style="margin-bottom:10px;">
        Edit Match
        <small>match panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Edit Match</li>
      </ol>

    </section> 

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Edit Match</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

        <div class="page-data">
             <form enctype="multipart/form-data" role="form" id="match-form" method="post" action="/match/save-match">
              <div class="form-group">
                <label for="matchname">Match Name</label>
                <input type="hidden" name="match_id" id="match_id" value="<%= data[0]._id %>"/>
                <input type="text" class="form-control" value="<%=data[0].match_name %>" name="match_name" id="_" placeholder="Match name" required>
              </div>
              <div class="form-group">
              <label for="inputError" class="control-label">Match Type</label>
            
                <select class="form-control" id="match_type" name="match_type" required>
                    <option <%= (data[0].match_type == 'T20') ? "selected" : "" %> value="T20">T20</option>
                    <option <%= (data[0].match_type == 'ODI') ? "selected" : "" %> value="ODI">ODI</option>
                    <option <%= (data[0].match_type == 'Test') ? "selected" : "" %> value="Test">Test</option>
                </select>
            
              </div>
              <div class="form-group">
                <label for="inputError" class="control-label">Max Ball<span class="star"></span></label>
                <input class="form-control" type="text" id="" name="max_ball" value="<%= data[0].max_ball %>" required>
              </div>
              <div class="form-group">
                 <label for="inputError" class="control-label">Venue</label>
                 <input class="form-control" type="text" id="" name="venue" value="<%= data[0].venue %>" required>
              </div>
              
              <div class="form-group">
              <label for="inputError" class="control-label">Team 1</label>
            
                <select class="form-control" id="team_1" name="team_1" required>
                    <option value="">-Select-</option>
                  <% for(var i = 0; i < team_data.length; i++) { %>
                    <option <%- (JSON.stringify(team_data[i]['_id']) == JSON.stringify(data[0].team_1)) ? "selected" : "" %> value="<%= team_data[i]['_id']%>"><%= team_data[i]['team_name']%></option>
                  <% } %>
                </select>
             <input class="form-control display_on_completed" type="text" id="" placeholder="Team 1 text" name="team_1_text" value="<%= data[0].team_1_text %>" >
              </div>

               <div class="form-group">
              <label for="inputError" class="control-label">Team 2</label>
            
                <select class="form-control" id="team_2" name="team_2" required>
                    <option value="">-Select-</option>
                    <% for(var i = 0; i < team_data.length; i++) { %>
                    <option <%- (JSON.stringify(team_data[i]['_id']) == JSON.stringify(data[0].team_2)) ? "selected" : "" %> value="<%= team_data[i]['_id']%>"><%= team_data[i]['team_name']%></option>
                  <% } %>
                </select>
              <input class="form-control display_on_completed" type="text" placeholder="Team 2 text" id="" name="team_2_text" value="<%= data[0].team_2_text %>" >
              </div>

              <div class="form-group">
                 <label for="inputError" class="control-label">Datetime</label>
                  <input class="form-control" id="datetime" type="text"  name="datetime" value="<%= data[0].datetime %>" required>
              </div>
              
              <div class="form-group">
               <label for="inputError" class="control-label">Status</label>
                <select class="form-control" id="status" onchange="display_none_block()" name="status" required>
                      <option <%= (data[0].status == 'notstarted') ? "selected" : "" %> value="notstarted">notstarted</option>
                      <option <%= (data[0].status == 'started') ? "selected" : "" %> value="started">started</option>
                      <option <%= (data[0].status == 'completed') ? "selected" : "" %> value="completed">completed</option>
                      <option <%= (data[0].status == 'inactive') ? "selected" : "" %> value="inactive">inactive</option>
                 </select>
              </div>
              <div class="form-group">
                <label for="inputError" class="control-label">Match Comment</label>
                    <textarea class="form-control" name="match_comment"><%= data[0].match_comment %></textarea>
              </div>
              <div id="match_result" class="form-group display_on_completed">
                <label for="inputError" class="control-label">Match Result</label>
                <div class="controls">
                    <input class="form-control"  type="text" id="" name="match_result" value="<%= data[0].match_result %>" >
                </div>
              </div>
              <div class="form-group">
                <a class="btn btn-default" href="/match"><i class="fa fa-times"></i>Cancle</a>
                <button type="submit" class="btn btn-primary" id="save-match"><i class="fa fa-save"></i> Edit</button>
              </div>
            </form>  
            
            
        </div>
        
  </div>
         </div>
         </div>
     </div>
    </section>
<script type="text/javascript">
    
    function display_none_block() {
        var boxVal = $("#status").val();
        if (boxVal == 'completed') {
            $(".display_on_completed").css("visibility", "visible");
        } else {
            $(".display_on_completed").css("visibility", "hidden");
        }

    }
    display_none_block()

        $('#datetime').datetimepicker({
                   value: '<%= data[0].datetime %>',
                   format: 'Y-m-d H:i:s',
                    step: 10,
                  
                });
    </script>
<
<%- include ../../layouts/footer.ejs %>
