<%- include ../../layouts/header.ejs %>
 <!-- Content Header (Page header) -->
<style>
.form-group{ overflow: hidden;}
.connection_close{ display:none;}
</style>
    <section class="content-header">
      <h1 style="margin-bottom:10px;">
        Edit Score
        <small>score panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Edit Score</li>
      </ol>

    </section> 

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Edit Score</h3>
            </div>
              <div class="alert alert-danger alert-dismissible connection_close">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                Connection lost! please <a href="/match/edit-score/<%= data[0]._id %>">click here</a> or refresh the page to reconnect! 
              </div>
            <!-- /.box-header -->
            <div class="box-body">
            
        <div class="page-data">
             <div class="col-md-6">
                <div class="box box-info">
					<div class="box-header with-border">
					  <h3 class="box-title">Input Addon</h3>
					</div>
					<div class="box-body">
                                            <input type="hidden" name="match_id" id="match_id" value="<%= data[0]._id %>" />
						<div class="form-group">
							<div class="input-group">
									<span class="input-group-addon"><b>Target</b></span>
									<input class="form-control" onfocusout="setStatesFields(this)" id="target_text" name="target" value="<%= data[0].states_info.target %>" type="text">
							</div>
						</div>
                                                <div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><b>Batsman 1</b></span>
									<input class="form-control" onfocusout="setStatesFields(this)" id="batsman_1_text" name="batsman_1" value="<%= data[0].states_info.batsman_1 %>" type="text">
									<span for="strick_1" class="input-group-addon">
										<input onclick="setStatesFields(this)" style="vertical-align: text-bottom" <%= data[0].states_info.strick == "strick_1" ? "checked" : "" %> id="strick_radio_1" value="strick_1" name="strick" type="radio">
									</span>
								</div>
						
							
						</div>
						<div class="form-group">
												
							<div class="input-group">
									<span class="input-group-addon"><b>Batsman 2</b></span>
									<input class="form-control" onfocusout="setStatesFields(this)" id="batsman_2_text" name="batsman_2" value="<%= data[0].states_info.batsman_2 %>" type="text">
									<span for="strick" class="input-group-addon">
										<input onclick="setStatesFields(this)" style="vertical-align: text-bottom" <%= data[0].states_info.strick == "strick_2" ? "checked" : "" %> id="strick_radio_2" value="strick_2" name="strick" type="radio">
									</span>
								</div>
							
						</div>
						<div class="form-group">
							<div style="width: 100%;" class="input-group">
									<span class="input-group-addon"><b>Bowler</b></span>
									<input class="form-control" onfocusout="setStatesFields(this)" id="bowler_text" name="bowler" value="<%= data[0].states_info.bowler %>" type="text">
							</div>
						</div>
						<div class="form-group">
							<label style="width:100%" for="target">Batsman 1</label>
						
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><b>Run</b></span>
									<input class="batsman_box batsman_box_1 form-control" onfocusout="setStatesFields(this)" id="batsman_1_run_text" name="batsman_1_run" value="<%= data[0].states_info.batsman_1_run %>" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><b>Ball</b></span>
									<input class="batsman_box batsman_box_1 form-control" onfocusout="setStatesFields(this)" id="batsman_1_ball_text" name="batsman_1_ball" value="<%= data[0].states_info.batsman_1_ball %>" type="text">
								</div>
							</div>
							
						</div>
						<div class="form-group">
							<label style="width:100%" for="target">Batsman 2</label>
							
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><b>Run</b></span>
									<input class="batsman_box batsman_box_2 form-control" onfocusout="setStatesFields(this)" id="batsman_2_run_text" name="batsman_2_run" value="<%= data[0].states_info.batsman_2_run %>" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><b>Ball</b></span>
									<input class="batsman_box batsman_box_2 form-control" onfocusout="setStatesFields(this)" id="batsman_2_ball_text" name="batsman_2_ball" value="<%= data[0].states_info.batsman_2_ball %>" type="text">
								</div>
							</div>
							
						</div> 
						<div class="form-group">
							<div class="input-group">
									<span class="input-group-addon"><b>Run</b></span>
									<input class="form-control" onfocusout="setStatesFields(this)" id="run_text" name="run" value="<%= data[0].states_info.run %>" type="text">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
									<span class="input-group-addon"><b>Over</b></span>
									<input class="form-control" onfocusout="setStatesFields(this)" id="over_text" name="over" value="<%= data[0].states_info.over %>" type="text">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
									<span class="input-group-addon"><b>Wicket</b></span>
									<input class="form-control" onfocusout="setStatesFields(this)" id="wicket_text" name="wicket" value="<%= data[0].states_info.wicket %>" type="text">
							</div>
						</div>
						
					</div>
					<!-- /.box-body -->
				  </div>
             </div>
			 
			 <!-- /col-6 -->
			 <div class="col-md-6">
                <div class="box box-info">
					<div class="box-header with-border">
					  <h3 class="box-title">Input Addon</h3>
					</div>
					<div class="box-body">
					<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><b>Batting Team name</b></span>
								<select id="team_name_text" onchange="changeMatchbox();setStatesFields(this);" class="form-control" name="team_name">
									<option value="">-Select-</option>
                                                                    	<option data-name="<%= data[0].team_1_info.team_name %>" data-id="1" <%= data[0].states_info.team_name == data[0].team_1_info._id ? "selected" : ""%>  value="<%= data[0].team_1_info._id%>"><%= data[0].team_1_info.team_name %></option>
                                                                    	<option data-name="<%= data[0].team_2_info.team_name %>" data-id="2" <%= data[0].states_info.team_name == data[0].team_2_info._id ? "selected" : ""%> value="<%= data[0].team_2_info._id%>"><%= data[0].team_2_info.team_name %></option>
								</select>
							</div>
						</div>
					 <div class="form-group">
                                                <label style="width:100%" for="target">Other Team Score Detail</label>
                                                <div style="width: 100%;" class="input-group">
                                                    <input style="width:22%; margin-right:2px;" class="form-control" name="other_team_name" value="<%= data[0].states_info.other_team_name %>" id="other_team_name" disabled="disabled" type="text"  />
                                                    <input value="<%= data[0].states_info.other_team_id %>" name="other_team_id" id="other_team_id" type="hidden"  />
                                                    <input onfocusout="setStatesFields(this)" value="<%= data[0].states_info.other_team_score %>" style="width:22%; margin-right:2px;" placeholder="Score" class="form-control" name="other_team_score" id="other_team_score" type="text"  />
                                                    <input onfocusout="setStatesFields(this)" value="<%= data[0].states_info.other_team_wicket %>" style="width:22%; margin-right:2px;" placeholder="Wicket" class="form-control" name="other_team_wicket" id="other_team_wicket" type="text"  />
                                                    <input onfocusout="setStatesFields(this)" value="<%= data[0].states_info.other_team_overs %>" style="width:22%; margin-right:2px;" placeholder="Overs" class="form-control" name="other_team_overs" id="other_team_overs" type="text"  />
                                                </div>
                                         </div>
						<div class="form-group">
							<label style="width:100%" for="target">Message Quick</label>
							<div style="width: 100%;" class="input-group">
							
								
							<select class="form-control setMessageKey" id="message_select" onchange="setMessageKey(this)" name="message">
                                                                    <option value="">-Select Run/W-</option>
                                                                    <option value="ball">Ball</option>
                                                                    <option value="0_run">No Run</option>
                                                                    <option value="1_run">1 Run</option>
                                                                    <option value="2_run">2 Runs</option>
                                                                    <option value="3_run">3 Runs</option>
                                                                    <option value="4_run">4-Four-4</option>
                                                                    <option value="5_run">5 Runs</option>
                                                                    <option value="6_run">6-Six-6</option>
                                                                    <option value="1_wicket">Wicket</option>
                                                                    <option value="inair">Ball in the Air</option>
                                                                    <option value="timeout">Time Out!</option>
                                                                    <option value="thirdumpire">Third Umpire</option>
                                                                   
                                    </select>
							</div>
						</div>
                                                <div class="form-group">
							<div style="width: 100%;" class="input-group">
								<select class="form-control" id="message_select4" onchange="setMessageKey(this)" name="message">
                                <option value="">-Select-</option>
                                                                    <option value="freehit">Free Hit!</option>
                                                                    <option value="catchdrop">Catch Droped!</option>
                                                                    <option value="notout">Not Out</option>
                                                                    <option value="over">Over</option>
                                                                    <option value="security_problem_he">Security problem he</option>
                                                                    <option value="barish_chalu">Barish Chalu</option>
                                                                    <option value="barish_ruka">Barish ruka Hai</option>
                                                                    <option value="cover_a_gaye">Cover aa Gaye</option>
                                                                    <option value="cover_hata_diye">Cover hata Diye</option>
                                                                    <option value="game_ruka">Game ruka hua hai!</option>
                                                                    <option value="player_aa_gaye">Player aa Gaye!</option>
                                                                    <option value="kalmilenge_dosto">Kal Milenge Dosto!</option>
                                                                    <option value="inair">Ball in the Air</option>
                                                            </select>
							</div>
						</div>
						<div class="form-group">
							<div style="width: 100%;" class="input-group">
								<select class="form-control" id="message_select2" onchange="setMessageKey(this)" name="message">
                                <option value="">-Select Wide/No ball-</option>
                                                                    <option value="1_wide">Wide</option>
                                                                    <option value="2_wide">Wide+1</option>
                                                                    <option value="3_wide">Wide+2</option>
                                                                    <option value="4_wide">Wide+3</option>
                                                                    <option value="5_wide">Wide+4</option>
                                                                    <option value="1_nb">No Ball</option>
                                                                    <option value="2_nb">No Ball+1</option>
                                                                    <option value="3_nb">No Ball+2</option>
                                                                    <option value="4_nb">No Ball+3</option>
                                                                    <option value="5_nb">No Ball+4</option>
                                                                    <option value="6_nb">No Ball+5</option>
                                                                    <option value="7_nb">No Ball+6</option>
                                                            </select>
							</div>
						</div>
						<div class="form-group">
							<div style="width: 100%;" class="input-group">
								<select class="form-control" id="message_select3" onchange="setMessageKey(this)" name="message">
                                                                    <option value="">-Select LB/B-</option>
                                                                    <option value="1_lb">Leg bye 1</option>
                                                                    <option value="2_lb">Leg bye 2</option>
                                                                    <option value="3_lb">Leg bye 3</option>
                                                                    <option value="4_lb">Leg bye 4</option>
                                                                    <option value="5_lb">Leg bye 5</option>
                                                                    <option value="1_b">bye 1</option>
                                                                    <option value="2_b">bye 2</option>
                                                                    <option value="3_b">bye 3</option>
                                                                    <option value="4_b">bye 4</option>
                                                                    <option value="5_b">bye 5</option>
                                                            </select>
							</div>
						</div>
						</div>
						<div style="width: 100%;" class="form-group">
							<div class="input-group">
									<span class="input-group-addon"><b>Message Text</b></span>
									<input class="form-control" onfocusout="setMessageKey_text(this)" id="message_text" name="message" value="<%= data[0].states_info.message %>" type="text">
								</div>
						</div>
                                                
                                                <div class="form-group">
							<label style="width:100%" for="target">Last Six Balls</label>
                                                        
                                                        <input type="hidden" name="balls_array_count" onfocusout="setStatesFields(this)" value="<%= (data[0].states_info.balls_array_count) ? data[0].states_info.balls_array_count : 0  %>" id="balls_array_count" />
                                                        <input placeholder="ball 1" style="width:10%; margin-right:2px;display: inline-block;"  class="form-control" onfocusout="setStatesFields(this)" id="ball_1" name="ball_1" value="<%- (data[0].states_info.balls_array[0]) ? data[0].states_info.balls_array[0] : ""; %>" type="text">
                                                        <input placeholder="ball 2" style="width:10%; margin-right:2px;display: inline-block;"  class="form-control" onfocusout="setStatesFields(this)" id="ball_2" name="ball_2" value="<%= (data[0].states_info.balls_array[1]) ? data[0].states_info.balls_array[1] : ""; %>" type="text">
                                                        <input placeholder="ball 3" style="width:10%; margin-right:2px;display: inline-block;"  class="form-control" onfocusout="setStatesFields(this)" id="ball_3" name="ball_3" value="<%= (data[0].states_info.balls_array[2]) ? data[0].states_info.balls_array[2] : ""; %>" type="text">
                                                        <input placeholder="ball 4" style="width:10%; margin-right:2px;display: inline-block;"  class="form-control" onfocusout="setStatesFields(this)" id="ball_4" name="ball_4" value="<%= (data[0].states_info.balls_array[3]) ? data[0].states_info.balls_array[3] : ""; %>" type="text">
                                                        <input placeholder="ball 5" style="width:10%; margin-right:2px;display: inline-block;"  class="form-control" onfocusout="setStatesFields(this)" id="ball_5" name="ball_5" value="<%= (data[0].states_info.balls_array[4]) ? data[0].states_info.balls_array[4] : ""; %>" type="text">
                                                        <input placeholder="ball 6" style="width:10%; margin-right:2px;display: inline-block;"  class="form-control" onfocusout="setStatesFields(this)" id="ball_6" name="ball_6" value="<%= (data[0].states_info.balls_array[5]) ? data[0].states_info.balls_array[5] : ""; %>" type="text">
                                                      

                                                        
                                                </div>
					 

					  
					</div>
					<!-- /.box-body -->
				  </div>
<div style="clear:both" class="clear"></div>
                <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="ball" type="button">Ball</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="0_run" type="button">No Run</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="1_run" type="button">1 Run</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="2_run" type="button">2 Runs</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="3_run" type="button">3 Runs</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="4_run" type="button">4-Four-4</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="5_run" type="button">5 Runs</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="6_run" type="button">6-Six-6</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="1_wide" type="button">Wide</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="1_nb" type="button">No ball</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="1_wicket" type="button">Wicket</button>
                    <!-- <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="inair" type="button">Ball in the Air</button> -->
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="timeout" type="button">Time Out!</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="thirdumpire" type="button">Third Umpire</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="freehit" type="button">Free Hit!</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="catchdrop" type="button">Catch Droped!</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="notout" type="button">Not Out</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="over" type="button">Over</button>

                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="spinner" type="button">Spinner Aya</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="faster" type="button">Faster Aya</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="bowler_ruka" type="button">Bowler Ruka</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="chalu_rakho_chalu" type="button">Chalu rakho chalu</button>
                    <button style="font-size: 21px;margin-bottom: 8px; padding: 18px;" class="btn btn-primary" onclick="setMessageKey(this)" value="umpire_check_karega" type="button">Umpire Check karega</button>
                    
                </div>
            </div>
        </div>
    </div> 
</div>
</div>
</section>
<script>
this.balls_array = <%- JSON.stringify(data[0].states_info.balls_array);%>
console.log("===== my new ball array =======");
console.log(this.balls_array);
</script>
<script type="text/javascript" src="<%= (global.base_url) ? global.base_url : '' %>/js/socket.js"></script>
<script>
$(document).bind('keydown', function (e) {
if($('input').is(":focus")){
    return;
}
e.preventDefault();

//alert(e.keyCode);
console.log("keycode->"+e.keyCode);
var str;
    switch(e.keyCode) {
        case 96:
            str = '0_run';
            break;
        case 97:
             str = '1_run';
            break;
        case 98:
             str = '2_run';
            break;
        case 99:
             str = '3_run';
            break;
        case 100:
             str = '4_run';
            break;
        case 101:
             str = '5_run';
            break;
        case 102:
             str = '6_run';
            break;
        case 103:
             str = '1_nb';
            break;
        case 104:
             str = '1_wide';
            break;
        case 105:
             str = '1_wicket';
            break;
        case 32:
             str = 'ball';
            break;
        case 84:
             str = 'thirdumpire';
            break;
        case 88:
             str = 'freehit';
            break;
         case 67:
             str = 'catchdrop';
            break;
         case 78:
             str = 'notout';
            break;
        case 79:
             str = 'over';
            break;
        case 83:
             str = 'spinner';
            break;
        case 70:
             str = 'faster';
            break;
        case 66:
             str = 'bowler_ruka';
            break;
        case 90:
             str = 'chalu_rakho_chalu';
            break;
        case 85:
             str = 'umpire_check_karega';
            break;
    }
if(str){
    setMessageKey(str, true);
}
});

function changeMatchbox(){


   var selected_team = $('option:selected', 'select[name="team_name"]').attr("data-name");
    var data_id = $('option:selected', 'select[name="team_name"]').attr("data-id");
    if(data_id == 1){
        var other_data_id = 2;
        var other_team_name = $('select[name="team_name"]').find('option[data-id="2"]').attr("data-name");
        var other_team_id = $('select[name="team_name"]').find('option[data-id="2"]').val();
    }else{
        var other_data_id = 1;
        var other_team_name = $('select[name="team_name"]').find('option[data-id="1"]').attr("data-name");
        var other_team_id = $('select[name="team_name"]').find('option[data-id="1"]').val();
    }
    $("#other_team_name").val(other_team_name);
    $("#other_team_id").val(other_team_id); 
}
changeMatchbox();
</script>
<%- include ../../layouts/footer.ejs %>
