<%- include ../../layouts/header.ejs %>
  <!-- DataTables -->
  <link rel="stylesheet" href="../datatables/dataTables.bootstrap.css"> 
 <!-- Content Header (Page header) -->
<style>
.pull-right{ display:none;}
</style>
    <section class="content-header">
      <h1 style="margin-bottom:10px;">
        Match
        <small>match panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Match</li>
      </ol>

        <p><a class="btn btn-success" href="/match/add">Add Match</a></p>
    </section> 

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Match List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2"  class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th>Match name</th>
                                <th>DateTime</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.length){ 
                                 var no = (curr_page -1 ) * 10 + 1;
                                 
                                 for(var i = 0;i < data.length;i++) { %>
                                 
                                <tr>
                                    <td><%= data[i]._id%></td>
                                    <td><%= data[i].match_name %></td>
                                    <td><%= moment(data[i].datetime).format('YYYY-MM-DD HH:mm') %></td>
                                    <td><%= data[i].status %></td>
                                    <td>
                                   
                                        <a href="/match/edit/<%=data[i]._id%>" class="edit-match btn btn btn-info">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                        &nbsp;
                                         <a href="/match/edit-score/<%=data[i]._id%>" class="edit-match btn btn btn-info">
                                            <i class="fa fa-pencil"></i> Edit Score
                                        </a>
                                        &nbsp;
                                        <a href="/match/edit-session/<%=data[i]._id%>" class="edit-match btn btn btn-info">
                                            <i class="fa fa-pencil"></i> Edit Session
                                        </a>
                                        &nbsp;
                                        <a class="edit-match btn btn btn-danger" onclick="return confirm('Are you sure to delete Match?')" href="/match/delete-match/<%=data[i]._id%>">
                                            <i class="fa fa-times"></i> Delete
                                        </a>
                            
                                    </td>
                                </tr>
                            <% no++; }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="4">No Match</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
  <%- pagination %>
            </div>
         </div>
         </div>
     </div>
    </section>

<%- include ../../layouts/footer.ejs %>
