<%- include ../../layouts/header.ejs %>
  <!-- DataTables -->
  <link rel="stylesheet" href="../datatables/dataTables.bootstrap.css"> 
 <!-- Content Header (Page header) -->
<style>
.pull-right{ display:none;}
</style>
    <section class="content-header">
      <h1 style="margin-bottom:10px;">
        Team
        <small>team panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Team</li>
      </ol>

        <p><a class="btn btn-success" href="/team/add">Add Team</a></p>
    </section> 

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Team List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2"  class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th>Team name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.length){ 
                                 var no = (curr_page -1 ) * 10 + 1;
                                 
                                 for(var i = 0;i < data.length;i++) { %>
                                 
                                <tr>
                                    <td><%=data[i]._id%></td>
                                    <td><%=data[i].team_name %></td>
                                    <td><%=(data[i].status =='Active') ? 'Active' : 'Inactive' %></td>
                                    <td>
                                   
                                        <a href="/team/edit/<%=data[i]._id%>" class="edit-team">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                        &nbsp;
                                        <a onclick="return confirm('Are you sure to delete Team?')" href="/team/delete-team/<%=data[i]._id%>">
                                            <i class="fa fa-times"></i> Delete
                                        </a>
                            
                                    </td>
                                </tr>
                            <% no++; }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="4">No Team</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
  <%- pagination %>
            </div>
         </div>
         </div>
     </div>
    </section>


<%- include ../../layouts/footer.ejs %>
