<%- include ../../layouts/header.ejs %>
  <!-- DataTables -->
  <link rel="stylesheet" href="../datatables/dataTables.bootstrap.css"> 
<style>
</style>
 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 style="margin-bottom:10px;">
        Users
        <small>users panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Users</li>
      </ol>

        <p><a class="btn btn-success" href="/users/add">Add User</a></p>
    </section> 

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Users List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2"  class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th>Username</th>
                                <th>Membership Type</th>
                                <th>Logged In/Out</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.length){ 
                                 var no = (curr_page -1 ) * 10 + 1;
                                 
                                 for(var i = 0;i < data.length;i++) { %>
                                 
                                <tr>
                                    <td><%=data[i]._id%></td>
                                    <td><%=data[i].username %></td>
                                    <td><%=(data[i].type_of_membership == 'admin' ? "Admin" : "Normal User") %></td>
                                    <td><%=(data[i].logged_in =='1') ? 'Logged In' : 'Logged Out' %></td>
                                    <td><%=(data[i].status =='1') ? 'Active' : 'Inactive' %></td>
                                    <td>
                                    <% if(data[i].username != 'admin') { %>
                                        <a href="users/edit/<%=data[i]._id%>" class="edit-user" data-user="<%=data[i]._id%>,<%=data[i].username%>,<%=data[i].status%>">
                                            <i class="fa fa-pencil"></i> Edit New 1
                                        </a>
                                        &nbsp;
                                        <a onclick="return confirm('Are you sure to delete User?')" href="users/delete-user/<%=data[i]._id%>" onclick="delete_user(<%=data[i]._id%>)">
                                            <i class="fa fa-times"></i> Delete
                                        </a>
                                    <% } %>
                                    </td>
                                </tr>
                            <% no++; }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="3">No user</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
  <%- pagination %>
            </div>
         </div>
         </div>
     </div>
    </section>

<script src="../datatables/jquery.dataTables.min.js"></script>
<script>
  $(function () {

    $('#example2').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": false,
      "info": false,
      "autoWidth": false
    });
  });
</script>
<!-- <script src="<%= (global.base_url) ? global.base_url : '..' %>/js/socket.js"></script> -->
<%- include ../../layouts/footer.ejs %>
