<%- include ../../layouts/header.ejs %>
  <!-- DataTables -->
  <link rel="stylesheet" href="../datatables/dataTables.bootstrap.css"> 
 <!-- Content Header (Page header) -->
<style>
.pull-right{ display:none;}
</style>
    <section class="content-header">
      <h1 style="margin-bottom:10px;">
        Requests
        <small>Request panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Register Request</li>
      </ol>

       
    </section> 

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Request List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2"  class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>E-mail</th>
                                <th>Requested password</th>
                                <th>Phone</th>
                                <th>Message</th>
                                <th>Datetime</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.length){ 
                                 var no = (curr_page -1 ) * 10 + 1;
                                 
                                 for(var i = 0;i < data.length;i++) { %>
                                 
                                <tr>
                                    <td><%= data[i].register_request_id%></td>
                                    <td><%= data[i].name %></td>
                                    <td><%= data[i].username %></td>
                                    <td><%= data[i].email %></td>
                                    <td><%= data[i].password %></td>
                                    <td><%= data[i].phone %></td>
                                    <td><%= data[i].message %></td>
                                    <td><%= data[i].datetime %></td>
                                    <td>
                                        <a onclick="return confirm('Are you sure to delete data?')" href="register-request/delete-register-request/<%=data[i].register_request_id%>" onclick="delete_user(<%=data[i].id%>)">
                                            <i class="fa fa-times"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            <% no++; }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="3">No Requests</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
  <%- pagination %>
            </div>
         </div>
         </div>
     </div>
    </section>

<script src="../datatables/jquery.dataTables.min.js"></script>
<script>

</script>
<!-- <script src="<%= (global.base_url) ? global.base_url : '..' %>/js/socket.js"></script> -->
<%- include ../../layouts/footer.ejs %>
