<%- include ../../layouts/header.ejs %>
  <!-- DataTables -->
  <link rel="stylesheet" href="../datatables/dataTables.bootstrap.css"> 
   <script type="text/javascript" src="../js/renderjson.js"></script>
 <!-- Content Header (Page header) -->
<style>


.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: crimson;
                             font-size: 150%; }
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: red; }
.renderjson .number        { color: cyan; }
.renderjson .boolean       { color: plum; }
.renderjson .key           { color: black; }
.renderjson .keyword       { color: lightgoldenrodyellow; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: lightsalmon; }


</style>
    <section class="content-header">
      <h1 style="margin-bottom:10px;">
        CricApi Matches
        <small>CricApi Matches panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Team</li>
      </ol>

        <!--  <p><a class="btn btn-success" href="/team/add">Add CricApi</a></p> -->
    </section> 

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">CrickApi Match List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <form action="/cricapi/deletedata" name="listingform" method="post">
            <p><input onclick="return onsubmitclickcheck();" class="btn btn-danger" type="submit" value="Delete Selected Data" name="delete" /></p>
                <table id="example2"  class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="allids" id="select-all" /> </th>
                                 <!-- <th>#ID <%- (curr_sort_by == '') ? '<i class="fa fa-sort-desc"></i>' : '' %></th> -->
                                <th><a  href="<%= xurls.unique_id_url%>">Unique Id <%- (curr_sort_by == 'unique_id') ? ((curr_sort_ord == -1) ? '<i class="fa fa-sort-asc"></i>' : '<i class="fa fa-sort-desc"></i>') : '' %></a></th>
                                <th><a href="<%= xurls.team_1_url %>">Team 1 <%- (curr_sort_by == 'team_1') ? ((curr_sort_ord == -1) ? '<i class="fa fa-sort-asc"></i>' : '<i class="fa fa-sort-desc"></i>') : '' %></a></th>
                                <th><a href="<%= xurls.team_2_url %>">Team 2 <%- (curr_sort_by == 'team_2') ? ((curr_sort_ord == -1) ? '<i class="fa fa-sort-asc"></i>' : '<i class="fa fa-sort-desc"></i>') : '' %></a></th>
                                <th><a href="<%= xurls.type_url %>">Type <%- (curr_sort_by == 'type') ? ((curr_sort_ord == -1) ? '<i class="fa fa-sort-asc"></i>' : '<i class="fa fa-sort-desc"></i>') : '' %></a></th>
                                <th><a href="<%= xurls.date_url %>">Date <%- (curr_sort_by == 'date') ? ((curr_sort_ord == -1) ? '<i class="fa fa-sort-asc"></i>' : '<i class="fa fa-sort-desc"></i>') : '' %></a></th>
                                <th><a href="<%= xurls.dateTimeGMT_url %>">DateTimeGMT <%- (curr_sort_by == 'dateTimeGMT') ? ((curr_sort_ord == -1) ? '<i class="fa fa-sort-asc"></i>' : '<i class="fa fa-sort-desc"></i>') : '' %></a></th>
                                <th>Squad</th>
                                <th>Toss winner Team</th>
                                <th>Winner Team</th>
                                <th>Fantasy Summary</th>
                                <th>Cricket Score</th>
                                <th><a href="<%= xurls.matchStarted_url %>">Match Started <%- (curr_sort_by == 'matchStarted') ? ((curr_sort_ord == -1) ? '<i class="fa fa-sort-asc"></i>' : '<i class="fa fa-sort-desc"></i>') : '' %></a></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.length){ 
                                 var no = (curr_page -1 ) * 10 + 1;
                                 
                                 for(var i = 0;i < data.length;i++) { %>
                                 
                                <tr id="main_tr">
                                    <td><input type="checkbox" name="ids[]" value="<%=data[i]._id%>" /></td>
                                   <!-- <td><%=data[i]._id%></td> -->
                                    <td><b><%=data[i].unique_id %></b></td>
                                    <td><%=data[i].team_1 %></td>
                                    <td><%=data[i].team_2 %></td>
                                    <td><%=data[i].type %></td>
                                    <td><%=data[i].date %></td>
                                    <td><%=data[i].dateTimeGMT %></td>
                                    <td><%=data[i].squad %></td>
                                    <td><%=data[i].toss_winner_team %></td>
                                    <td><%=data[i].winner_team %></td>
                                    <td> <%- JSON.stringify(data[i].fantasySummary) %>
                                      <!-- <div id="json_<%=data[i]._id%>"></div>
                                        <script>
                                        document.getElementById("json_<%=data[i]._id%>").appendChild(renderjson(<%- JSON.stringify(data[i].fantasySummary) %>));
                                        </script>  -->
                                    </td>
                                    <td> <%- JSON.stringify(data[i].cricketScore) %>
                                    </td>
                                    <td><%- (data[i].matchStarted) ? '<i title="Match Started" style="color:green;" class="fa fa-check"></i>' : '<i title="Match Not Started" style="color:red;" class="fa fa-times"></i>' %></td>
                                    <td>
                                        <a onclick="return confirm('Are you sure to delete?')" href="/cricapi/delete-cricapimatch/<%=data[i]._id%>">
                                            <i class="fa fa-times"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                                
                            <% no++; }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="4">No Data found!</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
                    </form>
  <%- pagination %>
            </div>
         </div>
         </div>
     </div>
    </section>

<script>
// Listen for click on toggle checkbox
$('#select-all').click(function(event) {
  if(this.checked) {
      // Iterate each checkbox
      $(':checkbox').each(function() {
          this.checked = true;
      });
  }
  else {
    $(':checkbox').each(function() {
          this.checked = false;
      });
  }
});
function onsubmitclickcheck(){
    var checked = $('#example2').find(':checked').length;
    if (!checked){
        alert("Please select at least one checkbox to delete record!");
        return false;
    }
}
</script>

<%- include ../../layouts/footer.ejs %>
